<nav class="navbar" style=" background-color: slateblue">
    <p [colorType]="color" class="header-logo header-text">TODO LIST</p>
    <button (click)="changeColor()" type="button" class="btn btn-save">Изменить цвет</button>
</nav>
<app-add-button (submitSend)="addTask($event)" (hideTasksFlag)="hideTasks()"></app-add-button>
<app-item-list *ngFor="let task of tasks; let index = index" [hideTasksFlag]="hideTasksFlag" [task]="task" (itemDeleted)="deleteTask(index)" (itemSave)="saveTask($event, index)"></app-item-list>
