.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.row {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
  display: flex;
  border: slateblue solid;
  border-radius: 0.5rem;
  padding: 0.375rem 0;
  background-color: #efefef;
}
