.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*background-color: #efefef;*/
}

.row {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  border: #cdcaf5 solid;
  border-radius: 0.5rem;
  padding: 0.375rem 0;
  background-color: #efefef;
  overflow: visible;
}


